CONNECTOR_HOST=0.0.0.0
CONNECTOR_PORT=18080
CONNECTOR_API_KEYS=sha256:<api-key-digest>
CONNECTOR_REQUIRE_HMAC=true
CONNECTOR_HMAC_SECRET=<from-secret-manager>
CONNECTOR_FAIL_MODE=quarantine
CONNECTOR_DEBUG_DOCUMENT_SCAN=false
LOG_LEVEL=INFO
AUDIT_REDACTION=true
NONCE_TTL_SEC=600
MAX_CLOCK_SKEW_SEC=300

OMEGA_BASE_URL=https://omega.internal.company
OMEGA_API_KEY=<from-secret-manager>
OMEGA_REQUIRE_HMAC=true
OMEGA_HMAC_SECRET=<from-secret-manager>
OMEGA_TLS_VERIFY=true
OMEGA_CA_CERT_PATH=/etc/ssl/certs/company-root-ca.pem
OMEGA_TIMEOUT_MS=15000
OMEGA_RETRY_COUNT=2
OMEGA_CIRCUIT_BREAKER_FAILS=5
OMEGA_CIRCUIT_BREAKER_RESET_SEC=30
OMEGA_UVICORN_WORKERS=2
OMEGA_OMP_NUM_THREADS=1
OMEGA_OPENBLAS_NUM_THREADS=1

SGRAPH_CONNECTOR_ENABLED=true
SGRAPH_CONNECTOR_BASE_URL=https://connector.internal.company
SGRAPH_CONNECTOR_API_KEY=replace-me
SGRAPH_CONNECTOR_HMAC_SECRET=replace-me
SGRAPH_CONNECTOR_TIMEOUT_SEC=30
SGRAPH_CONNECTOR_TLS_VERIFY=true
